<div class="jumbotron center">
	<h1>Learning to Code</h1>
	 	<p>
	    	<%= link_to "Registrarse", new_user_session_path, class: "btn btn-danger btn-lg" %>
	    	<%= link_to "Crea una cuenta!", new_user_registration_path, class: "btn btn-success btn-lg" %>
     	</p>

</div> 