<div class="jumbotron center">
	<h1>Bienvenidos a mi App!</h1>
	<%= link_to "Ingresar", "#", class: "btn btn-danger btn-lg" %>
	<%= link_to "Crea una cuenta!", "#", class: "btn btn-success btn-lg" %>
</div> 